.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(80px, max-content) 1fr minmax(80px, max-content);
    height: 100vh;
    grid-template-areas:
     "header-1 header-2 header-3"
     "sidebar-1 main sidebar-2"
     "footer footer footer";
}

.site-header-1 {
    background-color: rgb(20, 198, 20);
    grid-area: header-1;
}

.site-header-2 {
    background-color: rgb(87, 165, 23);
    grid-area: header-2;
}

.site-header-3 {
    background-color: rgb(70, 217, 88);
    grid-area: header-3;
}


.content {
    grid-area: main;
    background-color: rgb(238, 229, 98);
}

.sidebar-1 {
    grid-area: sidebar-1;
    background-color: rgb(98, 198, 238);
}

.sidebar-2 {
    grid-area: sidebar-2;
    background-color: rgb(98, 198, 238);
}

.site-footer {
    grid-area: footer;
    background-color: rgb(74, 218, 74);
}