 p {
    padding: 0 20px 0 20px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(80px, auto);
    height: 100vh;
    grid-gap: 2px;


    grid-template-areas:
     "menu menu header-3"
     "sidebar-1 main sidebar-2"
     "footer-1 footer-2 footer-3";
}

/*/



/*.site-header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 137, 144, 0.2);
    grid-area: header-1;
}*/

/*Main Menu*/
.main-menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(137, 137, 144, 0.1);
    grid-area: menu;
}

.main-menu > a {
    padding: 0 20px 0 0;
    color: rgb(152, 207, 2);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}



.site-header-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 137, 144, 0.3);
    grid-area: header-3;
}

/*Main*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: main;
    background-color: rgba(137, 137, 144, 0.4);
}

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 0 0;
    grid-area: sidebar-1;
    background-color: rgba(137, 137, 144, 0.3);
}

.menu-left > a {
    padding: 0 20px 0 0;
    color: rgb(152, 207, 2);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: sidebar-2;
    background-color: rgba(137, 137, 144, 0.2);
}

/*Footer*/


.site-footer-1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: footer-1;
    background-color: rgba(137, 137, 144, 0.9);
}


.copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: footer-2;
    background-color: rgba(137, 137, 144, 0.9)
}

.site-footer-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: footer-3;
    background-color: rgba(137, 137, 144, 0.9);
}

.site-footer-3 {
    box-sizing: border-box;
    padding: 50px 0 0 30px;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    background-color: rgba(137, 137, 144, 0.9);
}

.footer-social-links > a:not(:last-child) {
    margin-right: 15px;
}